{% extends '_layout.html' %}
{% block content %}
    <a href={{ url_for('home') }}><h1>Home</h1></a>
    <h1>Stores</h1>
    <table class='table'>
        <tr>
            <td>id</td>
            <td>Name</td>
            <td>No. Warehouses</td>
        </tr>
        {% for s in stores %}
            <tr>
                <td>{{s.id}}</td>
                <td><a href='/store/{{s.id}}'>{{s.name}}</a></td>
                <td>{{s.warehouse.count()}}</td>
                <td>
                    <form action={{url_for('destroy_store', store_id = s.id)}} method="POST">
                        <input type='submit' class='btn btn-danger' value='Delete'>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}